body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	background-color:#CCC;
}

.float {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	right: 40px;
	/* background-color:#0C9;
	color:#FFF; */
	border-radius: 50px;
	text-align: center;
	box-shadow: 2px 2px 3px #999;
}

.my-float {
    margin-top: 22px;
    color: white;
}

.save-btn {
    display: flex;
    margin-top: 3rem;
}

.divider {
    width: 10px;
    height: auto;
    display: inline-block;
}

.mbr-form > textarea, select {
    margin-bottom: 15px !important;
}